doctype html

html
    head
        title Digital Health Evidence
        link(rel="shortcut icon" href="favicon.ico")
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-167414889-1")
        script.
            window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-167414889-1');
    body
        div
            div(style="position:relative;left:150px")
                a(href="/" style="text-decoration:none")
                    span(style="font-family:sans-serif;font-size:30px;font-weight:bold;color:#339944;margin:0px") Digital
                    span(style="font-family:sans-serif;font-size:30px;font-weight:bold;color:#4477cc;margin:0px") Health
                    span(style="font-family:sans-serif;font-size:30px;color:#666666;margin:0px") &nbsp;Evidence
                if query === undefined
                    span(style="position:absolute;top:14px;font-size:15px;font-family:sans-serif;color:grey;margin-left:10px;display:inline-block") #{count} relevant records indexed in PubMed
        div(style="margin-top:5px")
            div(style="position:relative;left:150px")
                form(action="/")
                    input#query(name="query" value=query style="height:20px;width:600px;font-size:13px;padding-left:3px")
                    button(type="submit" style="height:25px;font-size:15px;margin-left:5px") Search for evidence
                    select(name="sort" onchange="this.form.submit()" style="height:25px;font-size:15px;margin-left:5px")
                        option(value="recent" selected=(sort=="recent" || !sort)) Sort by most recent
                        option(value="relevant" selected=(sort=="relevant")) Sort by most relevant
                    if query || query === ""
                        div(style="margin-top:10px")
                            span(style="height:25px;font-size:15px;font-family:sans-serif") Showing #{window[0]} to #{window[1]} of #{count} records
                            span(style = "height:25px;font-size:15px;margin-left:3px;color:grey;font-family:sans-serif;margin-left:5px") (fetched in #{time} seconds)
        div(style="margin-top:10px")
            div(style="position:relative;left:150px")
                span(style="font-size:15px;font-family:sans-serif") Quick searches:
                each link in quickLinks
                    span(style="font-size:15px;font-family:sans-serif;padding-left:7px")
                        a(href=link.link) #{link.name}
        div#results(style="margin-top:10px")
            each result in results
                div(style="margin-bottom:20px")
                    table(style="border-spacing:0px;border:1px solid #dddddd;width:100%")
                        each field in result
                            tr
                                td(style="width:136px;font-size:14px;font-family:sans-serif;font-weight:bold;white-space:nowrap;text-align:right;vertical-align:top;background-color:#dddddd;padding:7px")=field.name

                                if field.name === "Link"
                                    td(style="font-size:14px;font-family:sans-serif;vertical-align:top;padding:7px")
                                        a(href=field.value)=field.value
                                else
                                    td(style="font-size:14px;font-family:sans-serif;vertical-align:top;padding:7px")=field.value
        div#navigate(style = "margin-top:10px")
            div(style="position:relative;left:150px")
                if next
                    a(href=next)
                        button(type="sumbit" style="height:25px;width:150px;font-size:15px") Fetch more results
